<div class="mem-container">

    <div class="mem-name">
        <h1>{{member.name}}</h1>
    </div>

    <div class="expertise-info">
        <h2>EXPERTISE:</h2>
        <p class="normal">{{member.expertise}}</p>
    </div>

    <div class="crit-info">
        <h2>TELEPHONE: {{member.telephone}}</h2>
        <h2>EMAIL: {{member.email}}</h2>
        <h2>CL: {{member.commitment}}</h2>
    </div>

    <div class="other-info">
        <h2>POSTITION: <span class="normal">{{member.position}}</span></h2>
        <h2>ORGANIZATION: <span class="normal">{{member.organization}}</span></h2>
        <h2>LOCATION: <span class="normal">{{member.location}}</span></h2>
        <h2>CONNECTED BY: <span class="normal">{{member.connection}}</span></h2>
        <h2>LANGUAGES: <span class="normal">{{member.languages}}</span></h2>
    </div>

    <div class="notes">
        <h2>NOTES:</h2>
        {{#each member.posts}}
            <div class="note">
                <div>
                    <form style="display: inline-block;" method="post" action="/members/note/{{{../member.id}}}/{{id}}?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete-note" name="delete">
                            <i class="fas fa-minus-circle"></i>
                        </button>
                    </form>
                    {{formatDate note.date "MMMM Do YYYY"}}:
                </div>
                <p class="normal">{{note}}</p>
                
            </div>
        {{else}}
            <p class="normal" style="margin: 0;">No Notes in Database</p>
        {{/each}}
    </div>
</div>

<a class="back-btn" href="/members/memList">
    <i class="fas fa-arrow-left"></i>
</a>

<form method="post" action="/members/view/{{member.id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="delete" Onclick="return ConfirmDelete();"><i class="fas fa-user-slash"></i></button>
</form>

<a class="edit" href="/members/edit/{{member.id}}">
    <i class="fas fa-pencil-alt"></i>
</a>

<a class="add-note" href="/members/addNote/{{member.id}}">
    <i class="fas fa-plus"></i>
</a>

<script>
    function ConfirmDelete()
    {
      let x = confirm("Delete this HM permanently?");
      if (x)
        return true;
      else
        return false;
    }
</script> 